/*VARIABLES*/

$blanco: #fff;
$rosaclarito: #FDE5D9;



/*INDEX*/
* {
	margin: 0%;
	padding: 0%;
}
.body {
	background-color: $blanco;
}
.grid-container {
	display: grid;
	grid-template-columns: 150px auto;
	grid-template-rows: 7rem 10rem;
	grid-template-areas: "header" "homeimage titulo" "p" "subtitulo" "p" "footer";
	grid-gap: 10px;
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
}
header {
	width: 100%;
	font-family: Roboto, sans-serif;
	font-size: 20px;
	justify-content: left;
	align-self: flex-end;
	padding: left;
	background-color: $rosaclarito !important;
}

.navbar {
	
	.container-fluid{
		background-color: $rosaclarito !important;
	}
}

.navbar-brand {
	justify-content: left;
	font-size: 20px;

}
.navbar-nav{

	a{
		justify-content: end;
	}
}
.section {
	display: grid;
	margin: 20px 20px 20px 20px;
}

.imagen-inicio {
	justify-content: center;
	text-align: center;
	img{
		max-width: 1000px;
		text-align: center;
	}
}
.titulo {
	font-size: 30px;
	padding-top: 10px;
	text-align: center;
}
.p {
	text-align: center justify;
	width: 80%;
	margin: 60px 120px 60px 120px;
	float: center;
}
.blockquote-footer {
	margin: 60px 120px 60px 120px;
}
.blockquote {
	margin: 30px 120px 60px 120px;
.imagen {
	img{
		margin-right: 30px;
		margin-top: 40px;
	}
}


/*sobremi*/
.aboutme {
	.aboutme {
		display: grid;
        grid-template-columns: 1fr 1fr 1fr;
		gap: 5%;
		margin: 5% 5% 0 5%;
		font-family: "Raleway", sans-serif;
	}
		.servicios{
			background:  #f9ede7;
			padding: 2.5%;
			border-radius: 10px;
		}
		.sobremi {
			background: #f9ede7;
			padding: 2.5%;
			border-radius: 10px;
		}
		.contactos {
			background: #f9ede7;
			padding: 2.5%;
			border-radius: 10px;
		}
		.col-12{
			justify-content: center;
			color:#1d685f;
			text-decoration: none;
			width: 30%;
            transition: 400ms;
		}


.fs-5 {
	margin: 30px 80px 30px 60px;
	text-align: justify;
}
.display-5 {
	padding-top: 10px;
	margin: 30px 80px 30px 40px;
}
.display-3 {
	text-align: center;
	float: center;
}
.display-6 {
	padding-top: 10px;
	text-align: left;
	font-size: 10px;
}



/*--------------------------------------------------------------
# Contacto
--------------------------------------------------------------*/
.contact .info {
	width: 100%;
	background: #fff;
  }
  .contact .info i {
	font-size: 20px;
	color: #0e5068;
	float: left;
	width: 44px;
	height: 44px;
	background: #effbf9;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
  }
  .contact .info h4 {
	padding: 0 0 0 60px;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 5px;
	color: #222222;
  }
  .contact .info p {
	padding: 0 0 0 60px;
	margin-bottom: 0;
	font-size: 14px;
	color: #555555;
  }
  .contact .info .email, .contact .info .phone {
	margin-top: 40px;
  }
  .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
	background: #0e5068;
	color: #fff;
  }
  .contact .php-email-form {
	width: 100%;
	background: #fff;
  }
  .contact .php-email-form .form-group {
	padding-bottom: 8px;
  }
  .contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #0e5068;
	text-align: center;
	padding: 15px;
	font-weight: 600;
  }
  .contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #0e5068;
	text-align: center;
	padding: 15px;
	font-weight: 600;
  }
  .contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
  }
  .contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #0e5068;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
  }
  .contact .php-email-form input, .contact .php-email-form textarea {
	border-radius: 4px;
	box-shadow: none;
	font-size: 14px;
  }
  .contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
	border-color: #0e5068;
  }
  .contact .php-email-form input {
	height: 44px;
  }
  .contact .php-email-form textarea {
	padding: 10px 12px;
  }
  .contact .php-email-form button[type=submit] {
	background: #0e5068;
	border: 0;
	padding: 10px 30px 12px 30px;
	color: #fff;
	transition: 0.4s;
	border-radius: 50px;
  }
  .contact .php-email-form button[type=submit]:hover {
	background: #0e5068;
  }
  @-webkit-keyframes animate-loading {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  @keyframes animate-loading {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
/*FOOTEr*/
footer {
	background-color: $rosaclarito;
	color: black;
	padding: 15px;
	padding-left: 1rem;
	color: rgb(0, 0, 0);
}
.footercpr {
	text-align: center;
}
.footericons {
	float: right;

	a {
		margin-right: 50px;

		img {
			&:hover {
				transform: translateY(2);
			}
		}
	}
}
